@import "/imports/ui/stylesheets/util/variables.less";

/* panel styles */

#panel {
    // subtracts the width of the menu
    max-width: 100% - 256px;
}


/* header styles */


/* nav styles */

#banner {
    .wrapper {
        #fixed-header {
            .flex();
            background-color: @darkPrimaryColor;
            // bring the button back on top
            z-index: -1;
            span {
                // using flex box to centre align on x,y axis
                color: @textPrimaryColor;
                .flex-direction(column);
                .justify-content(center);
                width: calc(100% - 20/@rem);
                .align-items(center);
                font-weight: bold;
                font-size: 20/@em;
                .flex();
            }
        }
    }
}


/*  menu button */

.toggle-button {
    width: 57/@rem;
    margin-left: 5px;
}

// 
.hero {
    background-image: url("/img/bgrd/hero.jpeg");
    background-position: center center;
    font-family: 'BebasNeue Regular';
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 108/@rem 0 108/@rem 0;
    .page-title {
        // remove the defaule h1 margin & padding
        background: fadeout(@darkPrimaryColor, 30%);
        color: @textPrimaryColor;
        letter-spacing: 0.3rem;
        border-radius: @borderRadius;
        font-size: 3em;
        margin: 0 auto;
        width: 550/@rem;
    }
    .page-slogan {
        // background: fadeout(@darkPrimaryColor, 40%);
        // margin: 2.5rem auto 2.5rem auto;
        margin: 0 auto;
        color: @textPrimaryColor;
        border-radius: @borderRadius;
        font-size: 0.4em;
        width: 450/@rem;
    }
    .page-purpose {
        // background: fadeout(@darkPrimaryColor, 40%);
        margin: 2.5rem auto 2.5rem auto;
        color: @textPrimaryColor;
        border-radius: @borderRadius;
        font-size: 1.0em;
        width: 350/@rem;
    }
}

// section styles 
.wrapper {
    margin-top: -100/@rem;
}

.content {
    max-width: 960/@rem;
    margin: 0 auto;
    width: 90%;
    font-family: lato;
}


/* card styles */

.card {
    color: @darkPrimaryColor;
}

// .intro > p {
//     padding: .6em .8em;
// }

/* media queries styles */

@media (min-width:320px) {
    /* smartphones, iPhone, portrait 480x320 phones */
}

@media (min-width:481px) {
    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
}

// @media (min-width:641px) 
@media (min-width:600px) {
    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
    #fixed-header {
        opacity: 0;
    }
}

@media (min-width:961px) {
    /* tablet, landscape iPad, lo-res laptops ands desktops */
}

@media (min-width:1025px) {
    /* big landscape tablets, laptops, and desktops */
}

@media (min-width:1281px) {
    /* hi-res laptops and desktops */
}
