/* defaults */

@screen-width: 800px;
@base-font-size: 16px;

/* colors */

@darkPrimaryColor: #5D4037;
@primaryColor: #795548;
@lightPrimaryColor: #D7CCC8;
@textPrimaryColor: #FFFFFF;
@accentColor: #6c78c5;
@primaryTextColor: #212121;
@secondaryTextColor: #727272;
@dividerColor: #B6B6B6;
// 
// parametrix mixins
.flex() {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.justify-content(@type) {
    -webkit-justify-content: @type;
    -o-justify-content: @type;
    -moz-justify-content: @type;
    -ms-justify-content: @type;
    justify-content: @type;
}

.flex-direction(@type) {
    -webkit-flex-direction: @type;
    -o-flex-direction: @type;
    -moz-flex-direction: @type;
    -ms-flex-direction: @type;
    flex-direction: @type;
}

.align-items(@type) {
    -webkit-align-items: @type;
    -o-align-items: @type;
    -moz-align-items: @type;
    -ms-align-items: @type;
    align-items: @type;
}

@media (min-width:320px) {
    /* smartphones, iPhone, portrait 480x320 phones */
    body {
        font-size: 90%;
    }
    .heading {
        display: none;
    }
    .slogan {
        display: none;
    }
    nav {
        background-color: @darkPrimaryColor;
        button {
            background-color: @accentColor;
            margin-left: 10px;
        }
        div {
            color: @textPrimaryColor;
        }
    }
}

@media (min-width:481px) {
    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
}

@media (min-width:641px) {
    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
    .heading {
        .flex();
        .justify-content(center);
        h1 {
            width: 66%;
        }
    }
    .slogan {
        display: block;
    }
    nav {
        background-color: white;
    }
}

@media (min-width:961px) {
    /* tablet, landscape iPad, lo-res laptops ands desktops */
}

@media (min-width:1025px) {
    /* big landscape tablets, laptops, and desktops */
}

@media (min-width:1281px) {
    /* hi-res laptops and desktops */
}
