/* defaults */

@screen-width: 800px;
@base-font-size: 16px;

/* colors */

@darkPrimaryColor: #5D4037;
@primaryColor: #795548;
@lightPrimaryColor: #D7CCC8;
@textPrimaryColor: #FFFFFF;
@accentColor: #6c78c5;
@primaryTextColor: #212121;
@secondaryTextColor: #727272;
@dividerColor: #B6B6B6;


// media queries

@media only screen and (min-width: 801px) {
    body {
        font-size: 100%;
    }

    .heading {
    	font-size: 300%
    }
}

@media only screen and (max-width: 800px) {
    body {
        font-size: 100%;
    }

    .heading {
    	font-size: 300%
    }
}

@media only screen and (max-width: 400px) {
    body {
        font-size: 90%;
    }

    .heading {
    	font-size: 180%
    }
}


